fastapi
uvicorn[standard]
groq
anthropic
requests
python-dotenv
opentelemetry-sdk
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
wikipedia-api
